---
name: Lint PR title

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - edited
      - synchronize

permissions:
  pull-requests: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Validate PR title
        uses: amannn/action-semantic-pull-request@v6.1.1

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
